.success,
.error {
    color: black;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}

h5 {
    text-align: center;
    color: rgb(7, 7, 39)
}

h4 {
    text-align: center;
    color: rgb(7, 7, 39)
}